/*
* @Author: pc
* @Date:   2017-08-04 11:54:27
* @Last Modified by:   pc
* @Last Modified time: 2017-08-06 11:06:36
*/
@import url('base.css');
@import url('../iconfont/iconfont.css');
header{
	width: 100%;
	height: 0.51rem;
	border-bottom: 0.01rem solid #bbbfc0;
	padding: 0.19rem 0.13rem 0 0.13rem;
	display: flex;
	justify-content: space-between;
}
.header-left,.header-right{
	width: 0.09rem;
	height: 0.14rem;
	font-size: 0.14rem;
	color: #8f8f8f;
	line-height: 0.14rem;
}
.header-right{
	width: 0.20rem;
}
/* 图片部分开始 */
.img{
	width: 100%;
	height: 1.6rem;
    border-bottom: 0.01rem solid #e8e8ea;
}
.img img{
	display: block;
	width: 100%;
	height: 100%;
}
.jieshao{
	width: 2.0rem;
	height: 0.32rem;
	font-size: 0.14rem;
	color: #959595;
	border-bottom: #efefef;
	text-align: center;
	line-height: 0.32rem;
	margin: 0.15rem auto 0.20rem;
}
/* 图片部分结束 */
/* content开始 */
.content{
	width: 100%;
	height: 1.0rem;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    border-bottom: 0.01rem solid #e8e8ea;
}

.con-left{
	float: left;
	width: 100%;
	height: 1.02rem;
	position: relative;
}
.cl-top,.cl-bottom{
	width: 100%;
	height: 0.11rem;
	font-size: 0.11rem;
	color: #c5c5c5;
	padding: 0.12rem 0 0.30rem 0;
	line-height: 0.11rem;
}
.cl-bottom{
	padding: 0.12rem 0 0.10rem 0;
}
.cl-cen{
	display: block;
	width: 100%;
	height: 0.20rem;
	font-size: 0.16rem;
	color: #000;
	line-height: 0.20rem;
}
.con-right{
    float: left;
	width: 0.78rem;
	height: 0.78rem;
	margin-top: 0.12rem;
	border: 0.01rem solid #f0f0f0;
}
.con-right img{
	display: block;
	width: 0.78rem;
	height: 0.78rem;
}
.decoration{
	width: 0.7rem;
	height: 0.12rem;
	/* background-color: red; */
	position: absolute;
	top: 0.12rem;
	right: 0.0rem;
	line-height: 0.12rem;
	display: flex;
	justify-content: space-between;
}
.icon{
	width: 0.12rem;
    height:0.12rem;
    font-size: 0.12rem;
    color: #c0c0c0;
}
.miaoshu{
	width: 0.5rem;
	height: 100%;
	font-size: 0.12rem;
	color: #c0c0c0;
}
/* content结束 */
/* 发表评论开始 */
.xushu{
	width: 100%;
	height:auto; 
	padding: 0 0.13rem 0 0.13rem;
}
.xushu{
	width: 100%;
	height:auto; 
	font-size: 0.14rem;
	color: #5b5b5b;
	line-height: 0.2rem;
}
/* 发表评论结束 */
/* 底部开始 */
footer{
	width: 100%;
	height: 0.51rem;
	border-top: 0.01rem solid #ebebeb;
	display: flex;
	justify-content: space-between;
	padding: 0.19rem 0.13rem 0 0.13rem;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 100;
	background-color:#f8f8f8; 
}
.footer-left,.footer-right{
     width: 1.63rem;
     height: 0.19rem;
     font-size: 0.16rem;
     color: #afafaf;
     border-right: 0.01rem solid #afafaf;
     line-height: 0.19rem;
}
.footer-right{
	display: flex;
	justify-content: space-around;
	border: none;
}
.footer-right a{
	width: 0.18rem;
	height: 0.15rem;
	color: #afafaf;
}
/* 底部结束 */