/*
* @Author: Administrator
* @Date:   2017-08-05 17:15:31
* @Last Modified by:   pc
* @Last Modified time: 2017-08-06 17:01:29
*/
@import url('../iconfont/iconfont.css');
@import url('base.css');
/* 背景开始 */
.context{
	width: 100%;
	height: 100%;
	position: relative;
}
.context img{
	display: block;
	width: 100%;
	height: 6.21rem;
}
.context-below{
	width: 100%;
	height: 6.21rem;
	background: rgba(20, 20, 20, 0.5);
	position: absolute;
	top: 0;
	left: 0;
}
/* 提示框开始 */
.cancel{
	display: block;
	color: #b3b4b5;
	position: absolute;
	top: 0.32rem;
	left: 0.18rem;
}
.open{
	width: 0.84rem;
	height: 0.84rem;
	border-radius: 50%;
	border: 0.02rem solid #b3b4b5;
	position: absolute;
	top: 1.08rem;
	left: 1.18rem;
	padding-left: 0.20rem;
	padding-top: 0.23rem;
}
.icon-zhaoxiangji{
	font-size: 0.34rem;
	color: #fff;
}
.xuanxiang{
	width: 1.25rem;
	height: 0.15rem;
	position: absolute;
	top: 2.1rem;
	left: 1rem;
	font-size: 0.14rem;
	color: #b3b4b5;
	display: flex;
	justify-content: space-between;
}
.choice{
	width: 100%;
	height: 1.32rem;
	background: #fff;
	position: absolute;
	top: 4.89rem;
	left: 0;
	font-size: 0.14rem;
}
.choice a:nth-child(1){
	display: block;
	width: 100%;
	height: 0.45rem;
	border-bottom: 0.02rem solid #f3f3f5;
	color: #818181;
	text-align: center;
	line-height: 0.45rem;
}
.choice a:nth-child(2){
	display: block;
	width: 100%;
	height: 0.44rem;
	border-bottom: 0.01rem solid #f3f3f5;
	color: #818181;
	text-align: center;
	line-height: 0.44rem;
}
.choice a:nth-child(3){
	display: block;
	width: 100%;
	height: 0.43rem;
	color: #ef818c;
	text-align: center;
	line-height: 0.43rem;
}